#flexbox1 {
    display: flexbox;
    border: 1px solid black;
    margin-top: 100px;
    min-height: 15px;
}

#flexbox1 > div {
    min-width: 80px;
    min-height: 80px;
    border: 1px solid black;
    margin: 5px;
}
#flexbox1 > div:nth-child(1) {
    background-color: green;
}
#flexbox1 > div:nth-child(2) {
    background-color: yellow;
}
#flexbox1 > div:nth-child(3) {
    background-color: red;
}